* {
    margin:0;
    width:100vw;
    height:100vh;

}
@media (min-width:1400px) {
    body {
        overflow:hidden;
    }
    main {
        width: 1629px;
        height:622px;
        top:20vh;
        position:absolute;
    }
    #infobutton {
        position:absolute;
        top:0;
        padding:1.2%;
        right:-95vw;

    }
    .navcontainer {
        background-color:slategrey;
        height: 70px;
        width:100vw;
        position:absolute;
        content: '';
        top:0;
    }
    .navcontainer h4 {
        padding: 1.2%;
        height:auto;
        width:auto;
    }
    #homebutton {
        right:45vw;
        top:2.5vh;
        position:absolute;
        text-decoration:none;
        width:140px;
        height:21px;
    }
    nav{
        height: 70px;
        width:100vw;
        position:absolute;
        content: '';
        top:0;
    }

    a {
     text-decoration: none;
     color:inherit;
    }
    .warningcontainer {
        background-color:slategrey;
        position:absolute;
        top:0vh;
        width:40vw;
        height:70vh;
        left:30vw;
        content:'';
    }
    .warningcontainer p{
        width:35vw;
        height:30vh;
        text-align:center;
        right:-2.5vw;
        position:relative;
        bottom:-15vh;
    }
    .warningcontainer h2 {
        width:inherit;
        height:35px;
        text-align:center;
        padding-top:20px;
        padding-bottom:20px;
    }
    .warningcontainer h3{
        width:inherit;
        height:100px;
        text-align:center;
        padding-top:20px;
    }
}

