* {
    margin:0;
    width:100vw;
    height:100vh;

}
@media (min-width:1400px) {
    body {
        overflow:hidden;
    }
    #infobutton {
        position:absolute;
        top:0;
        padding:1.2%;
        right:-95vw;

    }
    .navcontainer {
        background-color:slategrey;
        height: 70px;
        width:100vw;
        position:absolute;
        content: '';
        top:0;
    }
    .navcontainer h4 {
        padding: 1.2%;
        height:auto;
        width:auto;
    }
    #homebutton {
        right:45vw;
        top:2.5vh;
        position:absolute;
        text-decoration:none;
        width:140px;
        height:21px;
    }
    nav{
        height: 70px;
        width:100vw;
        position:absolute;
        content: '';
        top:0;
    }

    a {
     text-decoration: none;
     color:inherit;
    }
    main{
        top:70px;
        height:80vh;
        width:100vw;
        position:absolute;
    }
    main p {
        width:200px;
        height:auto;
        opacity:0%;
        position:absolute;
    }
    main p:hover {
        opacity:100%;
    }
    main h1 {
        height:30px;
        position:absolute;
        width:100vw;
        padding-top:20px;
        right:-40vw;
    }
    .quotes{
        width:inherit;
        height:inherit;
    }
    #quote1{
        top:20%;
        left:15%;
    }
    #quote2{
        top:70%;
        right:5%;
    }
    #quote3{
        top:90%;
        left:32%;
    }
    #quote4{
        top:10%;
        right:1%;
    }
    #quote5{
        top:96%;
        left:8%;
    }
    #quote6{
        top:60%;
        left:45%;

    }
    #quote7 {
        top:50%;
        left:20%;
    }
    #quote8 {
        top:30%;
        right:30%;
    }
    #quote9 {
        top:98%;
        right:14%;
    }
}

