
* {
    margin:0;
    width:100vw;
    height:100vh;

}

/*For devices above 1600px wide*/
@media (min-width:1200px) {


    body{
        overflow:scroll;
        width:100vw;
        height:100vh;
        position:absolute;
    }
    aside{
        width:300px;
        height:670px;
        position:absolute;
        top:10vh;
        right:0;
    }
    main {
        width: 1629px;
        height:622px;
        top:20vh;
        position:absolute;
    }
    .navcontainer {
        background-color:slategrey;
        height: 70px;
        width:100vw;
        position:absolute;
        content: '';
        top:0;
    }
    #homebutton {
        right:45vw;
        top:2.5vh;
        position:absolute;
        text-decoration:none;
        width:140px;
        height:21px;
    }
    #homebutton h3{
        width:140px;
        height:21px;
    }
    a {
     text-decoration: none;
     width:inherit;
     height:inherit;
    }
    .textcontainer {
        background-color: slategrey;
        height: 400px;
        width: 300px;
        position:absolute;
        top:0;
        right:0;
        margin-right:40%;
        border-radius:10px;
    }
    .textcontainer h2 {
        padding-left:30px;
        padding-top: 10px;
        margin-bottom:30px;
        height:20px;
        width:300px;
    }
    .textcontainer li {
        height: 10vh;
        width: 230px;
    }
    .textcontainer ul {
        width:280px;
        height:300px;
    }

    .sourcescontainer {
        background-color: slategrey;
        height: 180px;
        width: 300px;
        position:absolute;
        bottom:0vh;
        right:0;
        margin-right:40%;
        border-radius:10px;
    }
    .sourcescontainer h2{
        height:20px;
        padding-left:100px;
        margin-top:10px;
        padding-bottom:20px;
        width:200px;
    }
    .sourcescontainer a{
        text-decoration: none;
        color: black;
        height:120px;
        width:100px;

    }
    .sourcescontainer ul{
        height:100px;
        width:200px;
        padding: 0%;
        padding-left:50px;

    }
    .sourcescontainer ol {
        height:inherit;
        width:inherit;
    }
    .sourcescontainer li{
        margin-bottom:10px;
        height:20px;
        width:200px;
    }
    .motivationalcontainer{
        background-color: slategrey;
        top: -5vh;
        left:15vw;
        width:800px;
        height:600px;
        position:absolute;
        display:flex;
        justify-content: center;
        border-radius: 10px;
    }
    .motivationalcontainer h2{
        top:0;
        left:15vw;
        position:absolute;
        width:300px;
        height:30px;
        padding-top:20px;
    }
    
        .motivationalcontainer img {
            width:200px;
            height:auto;
            position:relative;
            top:0vh;
            margin:20px;
            border: 4px inset lightslategrey;
        }
        #motivationalheader {
            width:600px;
            height:50px;
        }
        #motivationalphotos {
            width:inherit;
            height: 550px;
            position:absolute;
            bottom:0;
        }
        #infobutton {
            position:absolute;
            top:0;
            padding:1.2%;
            right:3.5vw;
    
        }
        #pointsbutton {
            position:absolute;
            top:0;
            padding:1.2%;
            left:25vw;
        }
        a {
            text-decoration: none;
            color:inherit;
           }
           .navcontainer h4 {
            padding: 1.2%;
            height:auto;
            width:auto;
        }
        footer{
            bottom:0vh;
            position:absolute;
            width:100vw;
            height:8vh;
            background-color:slategrey;
            text-align:center;
        }
        footer h1 {
            padding-top:2vh;
            width:inherit;
            height:4vh;
        }
}


